---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout";
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}


const posts = await getCollection("blog");

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");
const {Content} = await post.render()
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={`${SITE_TITLE}-${post.data.title}`} description={SITE_DESCRIPTION} />
  <link rel='stylesheet' href='/markdown.css'>
  <link rel='stylesheet' href='/markdown-light.css'>
  <link rel='stylesheet' href='/markdown-dark.css'>
</head>
<body>
<Layout>
  <div class='markdown-body'>
    <Content></Content>
  </div>
</Layout>
</body>
</html>
