---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Layout from "../../layouts/Layout";
import Posts from "../../components/Posts";

import { getCollection } from "astro:content";
import getSortedPosts from "../../utils/getSortedPosts";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Layout>
      <Posts posts={sortedPosts}/>
    </Layout>
	</body>
</html>
