:root{
  --c-gap: 16px;
  --c-bg-color: #f5f5f5;
  --c-border-color: #999;
  --c-text: #333;
  --c-text-desc: #777;
}

html[data-theme='dark']{
  --c-bg-color: #131313;
  --c-border-color: #ddd;
  --c-text: #fff;
  --c-text-desc: #f5f5f6;
}

#sun-svg,
html[data-theme="dark"] #moon-svg {
  display: none;
}
#moon-svg,
html[data-theme="dark"] #sun-svg {
  display: block;
}

#theme-btn{
  cursor: pointer;
  border: 1px solid var(--c-border-color);
  border-radius: 50%;
}

body{
  color: var(--c-text);
  font-size: 16px;
  background-color: var(--c-bg-color);
  transition: all 1s;
}

svg{
  display: inline-block;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentColor;
  width: 18px;
  height: 18px;
}

#bg-animation{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
